@media (max-width: 992px) {
}
@media (max-width: 767px) {
  .navbar .logo {
    font-size: 1rem;
  }
  .main-section,
  .content-section {
    .container {
      grid-template-columns: 1fr;
      text-align: center;

      div:first-child {
        order: 2;
      }
      div:last-child {
        order: -1;
      }

      img {
        width: 80%;
        margin: auto;
      }

      video {
        margin-top: 1rem;
      }
    }
  }

  .overlay-section {
    .overlay-inner {
      padding: 1rem;
      h2 {
        font-size: 3rem;
      }
    }
  }

  .footer-section {
    .container {
      grid-template-columns: 1fr;
      text-align: center;

      & > div {
        margin-top: 1rem;
      }
      div:nth-child(2) {
        display: none;
      }
    }
  }
  .about .about-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "bio-title"
      "bio-image";

    .bio-title {
      h1 {
        font-size: 3rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
    .bio-image {
      width: 250px;
      height: 350px;
    }
  }
  .bio {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
}
